<p id="notice"><%= notice %></p>

<p style="text-align:center;">
  <strong>Name:</strong>
  <%= @bank.name %>
</p>
<p style="text-align:center;">
<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
</p>