<!DOCTYPE html>
<html>
  <head>
    <title>Smoothpay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body>
    
    	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="sp icon.jpg" alt="" /></span>
						<h1><strong>Pay</strong> with your phone, <strong>earn </strong>rewards,
save money. It’s easy!</h1>

						<ul class="icons">
							<li><a href="/users" class="	fa fa-odnoklassniki"><span class="label">Users</span></a></li>
							<li><a href="/banks" class="	fa fa-cc-visa"><span class="label">Banks</span></a></li>
							<li><a href="/stores" class="	fa fa-shopping-basket"><span class="label">Stores</span></a></li>
						</ul>


						<ul class="icons">
							<li><a href="https://twitter.com/smoothpayapp?lang=en" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/pg/SmoothPay/about/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/smoothpay/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://smoothpay.com/" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="https://smoothpay.com/contact-smoothpay/" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
              <%= yield %>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Buthayna & Sara . All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. </p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>

  </body>
</html>
